{% extends 'GreenEnergySearch/base.html' %}

{% block title %}
  Edit User Profile
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
            <h5 class="card-title">User Profile for: {{ user.username }}</h5>
          </div>
        <div class="card-body">
          <form method="POST" action="{% url 'edit_profile' %}">
            {% csrf_token %}
            <div class="mb-6">
              {{ form.first_name|as_crispy_field }}
            </div>
            <div class="mb-6">
              {{ form.last_name|as_crispy_field }}
            </div>
            <div class="mb-6">
              <h5 class="card-title">Email: {{ user.email }}</h5>
            </div>
            <div class="mb-6">
              {{ form.email_notifications|as_crispy_field }}
            </div>
            {% comment %} This will require more view logic {% endcomment %}
            {% comment %} <div class="mb-6">
              {{ form.email|as_crispy_field }}
            </div> {% endcomment %}
            <div class="mb-6">
              {{ form.zip_code|as_crispy_field }}
            </div>
            <div class="mb-6">
              <h5 class="card-title">Most Recent Supplier:</h5>
              <span class="form-text">TODO: Supplier Name</span>
              <br></br>
            </div>
            <div class="mb-6">
              <h5 class="card-title">Current Rate:</h5>
              <span class="form-text">TODO: Add the current rate</span>
              <br></br>
            </div>
            <div class="mb-6">
              <h5 class="card-title">Time Left on Contract:</h5>
              <span class="form-text">TODO: Add time left on contract</span>
              <br></br>
            </div>
            <div class="mb-3 d-flex justify-content-between">
              <button type="submit" class="btn btn-success">Save Changes</button>
              <a href="{% url 'password_reset_from_profile' %}" class="btn btn-primary">Update Password</a>
              
              <form method="POST" action="{% url 'delete_account' %}" id="delete-account-form">
                {% csrf_token %}
                <input type="hidden" name="delete-account-post" value="true">
                <button type="button" class="btn btn-danger" onclick="confirmDelete()">Delete Account</button>
              </form>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script>

  function confirmDelete() {
    var confirmed = confirm("Are you sure you want to delete your account?");
    if (confirmed) {
      // User clicked "OK" on the confirmation popup
      // Create a form and submit it
      var form = document.createElement("form");
      form.method = "POST";
      form.action = "{% url 'delete_account' %}";
      var csrfToken = document.getElementsByName("csrfmiddlewaretoken")[0].value;
      var csrfInput = document.createElement("input");
      csrfInput.type = "hidden";
      csrfInput.name = "csrfmiddlewaretoken";
      csrfInput.value = csrfToken;
      form.appendChild(csrfInput);
      document.body.appendChild(form);
      form.submit();
    }
  }
</script>
{% endblock %}
