{% extends 'base/base.html' %}

{% block title %}
  Edit User Profile
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
            <h5 class="card-title">User Profile for: {{ user.username }}</h5>
          </div>
        <div class="card-body">
          <form method="POST" action="{% url 'user_profile:edit_profile' %}">
            {% csrf_token %}
            <div class="mb-6">
              {{ form.first_name|as_crispy_field }}
            </div>
            <div class="mb-6">
              {{ form.last_name|as_crispy_field }}
            </div>
            <div class="mb-6">
              <h5 class="card-title">Email: {{ user.email }}</h5>
            </div>
            <div class="mb-6">
              {{ form.email_notifications|as_crispy_field }}
            </div>
            {% comment %} This will require more view logic {% endcomment %}
            {% comment %} <div class="mb-6">
              {{ form.email|as_crispy_field }}
            </div> {% endcomment %}
            {% comment %} <div class="mb-6">
              {{ form.zip_code|as_crispy_field }}
            </div> {% endcomment %}
            <div class="mb-3">
              <div class="d-flex align-items-center">
                <h5 class="card-title">Search Settings:</h5>
                <button type="button" class="mx-2 btn btn-primary btn-sm" onclick="location.href='{% url 'user_profile:update_search_options' %}';">Update</button>
              </div>
              <div class="px-3">
                <span class="form-text"><b>Zip Code:</b> {{user_pref.zip_code}}</span>
                <br>
                <span class="form-text"><b>Distributor:</b> {{user_pref.distributor_name}}</span>
                <br>
                <span class="form-text"><b>Rate Schedule:</b> {{user_pref.rate_schedule}}</span>
              </div>
            </div>
            <div class="mb-3">
              <div class="d-flex align-items-center">
                <h5 class="card-title">Current Contract:</h5>
                {% if user_pref and user_pref.has_selected_offer %}
                  <button type="button" class="mx-2 btn btn-danger btn-sm" onclick="clearCurrentContract()">Clear</button>
                {% endif %}
              </div>
              <div class="px-3">
                {% if user_pref and user_pref.has_selected_offer %}
                  {% with user_pref.get_selected_offer as current_contract %}
                    <span class="form-text"><b>Provider:</b> {{current_contract.name}}</span>
                    <br>
                    <span class="form-text"><b>Rate:</b> ${{current_contract.rate}}</span>
                    <br>
                    <span class="form-text"><b>Expected End Date:</b> {{user_pref.selected_offer_expected_end}}</span>
                  {% endwith %}
                {% else %}
                  <span>No contract currently selected</span>
                {% endif %}
              </div>
            </div>
            <div class="mb-3 d-flex justify-content-between">
              <button type="submit" class="btn btn-success">Save Changes</button>
              <a href="{% url 'user_profile:password_reset_from_profile' %}" class="btn btn-primary">Update Password</a>
              
              <form method="POST" action="{% url 'user_profile:delete_account' %}" id="delete-account-form">
                {% csrf_token %}
                <input type="hidden" name="delete-account-post" value="true">
                <button type="button" class="btn btn-danger btn-md" onclick="confirmDelete()">Delete Account</button>
              </form>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script>

  function confirmDelete() {
    var confirmed = confirm("Are you sure you want to delete your account?");
    if (confirmed) {
      // User clicked "OK" on the confirmation popup
      // Create a form and submit it
      var form = document.createElement("form");
      form.method = "POST";
      form.action = "{% url 'user_profile:delete_account' %}";
      var csrfToken = document.getElementsByName("csrfmiddlewaretoken")[0].value;
      var csrfInput = document.createElement("input");
      csrfInput.type = "hidden";
      csrfInput.name = "csrfmiddlewaretoken";
      csrfInput.value = csrfToken;
      form.appendChild(csrfInput);
      document.body.appendChild(form);
      form.submit();
      form.remove();
    }
  }
  function clearCurrentContract(){

    fetch("{% url 'green_energy_search:current_selection' %}",{
      method:"DELETE",
      headers: {
        'Content-Type': 'application/json', // Set the content type for JSON data
        'X-CSRFToken': '{{ csrf_token }}'
      }
    }).then(response=>{
      if (!response.ok) {
        alert('Failed to clear');
      }else{
        //Refresh the page
        location.reload();
      }
    })
  }
</script>
{% endblock %}
