{% extends 'GreenEnergySearch/base.html' %}

{% block title %}
  User Profile
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">User Profile for: {{ user.username }}</h5>
          </div>
          <div class="card-body">
            <div class="mb-3">
              <label class="form-label">First Name:</label>
              <span class="form-text">{{ user.first_name }}</span>
            </div>

            <div class="mb-3">
              <label class="form-label">Last Name:</label>
              <span class="form-text">{{ user.last_name }}</span>
            </div>

            <div class="mb-3">
              <label class="form-label">Email:</label>
              <span class="form-text">{{ user.email }}</span>
            </div>

            <div class="mb-3">
              <form method="POST" action="{% url 'update_email_preferences' %}">
                {% csrf_token %}
                <div class="row justify-content-between">
                  <div class="col-md-8">
                    {{ form.as_p }}
                  </div>
                  <div class="col-md-4 text-end">
                    <button type="submit" class="btn btn-primary">Save</button>
                  </div>
                </div>
              </form>
            </div>
            
            <div class="mb-3">
              <label class="form-label">Zip Code:</label>
              <span class="form-text">{{ zip_code }}</span>
            </div>

            <div class="mb-3">
              <h6 class="card-subtitle mb-2 text-muted">Most Recent Supplier:</h6>
              <span class="form-text">TODO: Supplier Name</span>
            </div>

            <div class="mb-3">
              <h6 class="card-subtitle mb-2 text-muted">Current Rate:</h6>
              <span class="form-text">TODO: Rate</span>
            </div>

            <div class="mb-3">
              <h6 class="card-subtitle mb-2 text-muted">Time Left on Contract:</h6>
              <span class="form-text">TODO: Time Remaining</span>
            </div>

            <div class="mb-3 d-flex justify-content-between">
              <a href="{% url 'password_reset_from_profile' %}" class="btn btn-primary">Update Password</a>
              <form method="POST" action="{% url 'delete_account' %}" id="delete-account-form">
                {% comment %} See Script Tags at the bottom {% endcomment %}
                {% csrf_token %}
                <input type="hidden" name="delete-account-post" value="true">
                <button type="button" class="btn btn-danger" onclick="confirmDelete()">Delete Account</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>

    function confirmDelete() {
      var confirmed = confirm("Are you sure you want to delete your account?");
      if (confirmed) {
        // User clicked "OK" on the confirmation popup
        // Create a form and submit it
        var form = document.createElement("form");
        form.method = "POST";
        form.action = "{% url 'delete_account' %}";
        var csrfToken = document.getElementsByName("csrfmiddlewaretoken")[0].value;
        var csrfInput = document.createElement("input");
        csrfInput.type = "hidden";
        csrfInput.name = "csrfmiddlewaretoken";
        csrfInput.value = csrfToken;
        form.appendChild(csrfInput);
        document.body.appendChild(form);
        form.submit();
      }
    }
  </script>
{% endblock %}
