Django==4.2.3
django-environ==0.10.0
psycopg2-binary==2.9.6
django-crispy-forms==2.0
crispy-bootstrap5==0.7
uszipcode==1.0.1
six==1.16.0
python-dateutil==2.8.2
beautifulsoup4==4.12.2
django-ebhealthcheck==2.0.2
django-health-check==3.17.0
selenium==4.10.0
gunicorn==21.2.0
apscheduler==3.10.1
pandas==2.0.3