{% extends 'base/home.html' %}

{% block modal %}
<a class="close" href="/home">&times;</a>
<div>
    <a href="javascript:void(0);" onclick="history.back();">Go Back</a>
{% if distributors|length != 1 %}
    <h1>Select your distributor</h1>
    <hr><hr>
    <div id="distributor-container" style="display:flex; flex-direction:column; gap:10px; align-items:center;">
        {% for distributor in distributors %}
            <button 
                class = 'btn btn-success'
                style="width:70%"
                onclick="location.href = '{% url 'green_energy_search:rate_type' %}/?zipcode={{zipcode}}&distributor_id={{distributor.id}}';">
                {{distributor.name}}
            </button>
        {% endfor %}
    </div>
{% else %}
    {% with distributors.0 as distributor_sel %}
        <h1>Distributor Selected: {{distributor_sel.name}}</h1>
        <hr><hr>
        <h2>Select your rate schedule</h2>
        <div id="rate-schedule-container" style="display:flex; flex-direction:column; gap:10px; align-items:center;">
        {% for rate in distributor_sel.rates %}
            <button 
                class = 'btn btn-success'
                style="width:70%"
                onclick="location.href = '{% url 'green_energy_search:offer_search' zipcode=zipcode distributor_id=distributor_sel.id rate_type=rate.rate_schedule %}';">
                {{rate.rate_schedule}}
            </button>
        {% endfor %}
        </div>
    {% endwith %}
{% endif %}
</div>
{% endblock modal %}