{% extends 'base/base.html' %}
{% load custom_filters %}

{% block content %}
<div>
  <h1>Offers</h1>
  <a href="javascript:void(0);" onclick="history.back();">Go Back</a>
  <h3>Selection:</h3>
  <ul>
    <li>Distributor: {{distributor.name}}</li>
    <li>Rate Schedule: {{distributor_rate.rate_schedule}}</li>
  </ul>
  <hr />
  <h5>Note: These offers are currently filtered by:</h5>
  <ul>
    <li>Renewable Energy = True</li>
    <li>Price Structure = Fixed</li>
    <li>Rate <= Distributor Rate + $0.05</li>
  </ul>
  <hr />
  <hr />
  {% for offer in offers %}
  <div style="box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2); border-radius: 10px; width: 500px; padding:50px">
  <h2>{{offer.name}}</h2>
  <p>${{offer.rate}} per kWh</p>
  {% if distributor_rate.rate|subtract:offer.rate < 0 %}
  <p style="color: red">
  {% else %}
  <p style="color: green">
    {% endif %} 
    {{distributor_rate.rate|subtract:offer.rate|format_rate}} {{distributor.name}}
  </p>
  {% if user.is_authenticated%}
  <p>(insert current contract diff) less than current contract</p>
  {%else%}
  <p>login to see the difference from your currently saved contract</p>
  {% endif %}
  <p>Contract length: {{offer.term_length}}</p>
  <a href="{{offer.website}}">Select and Save</a>
</div>
<hr />
  {% endfor %}
</div>
{% endblock content %}