{% extends 'base/base.html' %} {% load custom_filters %} {% block content %}
<div>
  <h1>Offers</h1>
  <a href="javascript:void(0);" onclick="history.back();">Go Back</a>
  <h3>Selection:</h3>
  <ul>
    <li>Distributor: {{distributor.name}}</li>
    <li>Rate Schedule: {{distributor_rate.rate_schedule}}</li>
  </ul>
  <hr />
  <h5>Note: These offers are currently filtered by:</h5>
  <ul>
    <li>Renewable Energy = True</li>
    <li>Price Structure = Fixed</li>
    <li>Rate <= Distributor Rate + $0.05</li>
  </ul>
  <hr />
  <hr />
  <div id="offer-container" style="display: flex; flex-direction:column; justify-content: center; align-items:center">
    {% if offers|length == 0 %}
    <h2>We're sorry, but there are no offers that match the requirements 🙁</h2>
    {% else %}
    {% for offer in offers %}
    <div
      class = "paper" style = "padding:50px"
    >
      <h2>{{offer.name}}</h2>
      <hr>
      <p>{{offer.rate|format_rate:7}} per kWh</p>
      <p 
      style={% if distributor_rate.rate|subtract:offer.rate < 0 %}"color: red"{% else %}"color: green"{% endif %}>
        {{distributor_rate.rate|subtract:offer.rate|format_rate_diff:8}}
        the default distributor: {{distributor.name}}
      </p>
      {% if user.is_authenticated%}
        {% if current_contract %}
          {% if current_contract.id == offer.id %}
            <p style = "color: blue">This is your currently selected offer!</p>
          {% else %}
            <p 
              style={% if current_contract.rate|subtract:offer.rate < 0 %}"color: red"{% else %}"color: green"{% endif %}>
              {{current_contract.rate|subtract:offer.rate|format_rate_diff:8}} your current contract</p>
          {% endif %}
        {% endif %}
      {%else%}
      <p><a href="{% url "UserRegistration:login" %}">login</a> to see the difference from your currently saved contract</p>
      {% endif %}
      <p>Contract length: {{offer.term_length|format_contract_length}}</p>
      <div style="display: flex; justify-content: center;">
        <button class="btn btn-success" onclick="post_possible_selection({{offer.raw_json}}, {% if offer.signup_link %}'{{offer.signup_link}}'{% else %}'{{offer.website}}'{% endif %})">View</button>
      </div>
    </div>
    <hr />
    {% endfor %}
    {% endif %}
  </div>
  <script>
    function post_possible_selection(offer_json, redirect){
      {% if user.is_authenticated %} //Skip storage request if the user is not authenticated
      const requestOptions = {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json', // Set the content type for JSON data
          'X-CSRFToken': '{{ csrf_token }}'
        },
        body: JSON.stringify(offer_json), // Convert the JavaScript object to JSON format
      };
      fetch("{% url 'green_energy_search:possible_selections' %}", requestOptions)
        .then((response)=>{
          if (!response.ok) {
            console.error('Unable to save the offer!');
          }
          //Redirect in new tab
          window.open(redirect, '_blank')
        });
        {% else %}
        //Redirect in new tab
        window.open(redirect, '_blank')
      {% endif %}
    }
    </script>
</div>
{% endblock content %}
