{% extends 'base/base.html' %}

{% block modal %}
<a class="close" href="/home">&times;</a>
<div>
    <h1>Possible Selections</h1>
    <h2>It looks like you may have made a selection on a provider, but we're not sure! Did you sign-up for any of these??</h2>
    <hr><hr>
    <div id="selections-container" style="display:flex; flex-direction:column; gap:10px; align-items:center;">
        {% for offer in possible_selections %}
            <button 
                class = 'btn btn-success wide-btn'
                onclick="handleOption_click({{offer.raw_json}}, '{{redirect}}')">
                {{offer.name}}
            </button>
        {% endfor %}
        <button 
            class = 'btn btn-danger wide-btn'
            onclick="handleCancel_click('{{redirect}}')">
            No, I did not select any of these items
        </button>
    </div>
</div>
<script>
function handleOption_click(offer_json, redirect){
    {% if user.is_authenticated %} //Skip storage request if the user is not authenticated
    //TODO: Update selected offer for user
        const requestOptions = {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json', // Set the content type for JSON data
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify(offer_json)
        };
        fetch("{% url 'green_energy_search:current_selection' %}", requestOptions)
            .then((response)=>{
                if (!response.ok) {
                console.log('Unable to save the offer');
                }
                clear_selections()
            });
    {% endif %}
    //Redirect
    location.href = redirect;
}

function handleCancel_click(redirect){
    {% if user.is_authenticated %} //Skip storage request if the user is not authenticated
    clear_selections()
    {% endif %}
    //Redirect
    location.href = redirect;
}

function clear_selections(){
    {% if user.is_authenticated %} //Skip storage request if the user is not authenticated
        const requestOptions = {
            method: 'DELETE',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            }
        };
        fetch("{% url 'green_energy_search:possible_selections' %}", requestOptions)
            .then((response)=>{
                if (!response.ok) {
                    console.log('Unable to clear the possible_selections');
                }
        });
    {% endif %}
}
</script>
{% endblock modal %}