{% extends 'base/base.html' %}

{% block title %}
  Login Here
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <form method="POST" class="form-group" action="{% url 'login' %}?next=/edit_profile/">
          {% csrf_token %}
          <div class="row mb-3">
            <div class="col">{{ form.username|as_crispy_field }}</div>
          </div>
          <div class="row mb-3">
            <div class="col">{{ form.password|as_crispy_field }}</div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <button type="submit" class="btn btn-success">Login</button>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <p>
                Don't have an account? Create one <a href="/register">here</a>
              </p>
              <p>
                Forgot your password? Reset it <a href="/reset_password">here</a>
              </p>
              <form id="reset-password-form" method="post" action="/reset_password">
                {% csrf_token %}
              </form>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var resetPasswordLink = document.getElementById('reset-password-link')
      var resetPasswordForm = document.getElementById('reset-password-form')
    
      resetPasswordLink.addEventListener('click', function (event) {
        event.preventDefault()
        resetPasswordForm.submit()
      })
    })
  </script>
{% endblock %}
