{% extends 'GreenEnergySearch/base.html' %}

{% block title %}
  Enter new password
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
  {% if validlink %}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
          <h1>Set a new password!</h1>
          <form method="POST" class="form-group">
            {% csrf_token %}
            <div class="row mb-3">
              <div class="col">{{ form.new_password1|as_crispy_field }}</div>
            </div>
            <div class="row mb-3">
              <div class="col">{{ form.new_password2|as_crispy_field }}</div>
            </div>
            <div class="row mb-3">
              <div class="col">
                <button type="submit" class="btn btn-success">Reset Password</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  {% else %}
    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
  {% endif %}
{% endblock %}
