option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "src.Clean-Energy-PA-Site.Website.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
    CURRENT_DOMAIN: "http://clean-energy-pa-production.us-east-2.elasticbeanstalk.com/"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "src.Clean-Energy-PA-Site.Website.wsgi:application"

container_commands:
  01_vlad_test:
    command: "ls"
  02_migrate:
    command: "source /var/app/venv/*/bin/activate && cd src/Clean-Energy-PA-Site/ && python3 manage.py migrate --noinput"
    leader_only: true