option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "src.Clean-Energy-PA-Site.Website.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
    RDS_DB_NAME: "clean-energy-pa-db"
    RDS_HOSTNAME: "clean-energy-pa-db.crhpjpnmajix.us-east-2.rds.amazonaws.com"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "src.Clean-Energy-PA-Site.Website.wsgi:application"