option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "src.Clean-Energy-PA-Site.Website.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
    RDS_DB_NAME: "clean-energy-pa-db"
    RDS_HOSTNAME: "clean-energy-pa-db.crhpjpnmajix.us-east-2.rds.amazonaws.com"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "src.Clean-Energy-PA-Site.Website.wsgi:application"

container_commands:
  01_debug:
    command: "ls"
    leader_only: true
  02_makemigrations:
    command: "source /var/app/venv/*/bin/activate && python3 src/Clean-Energy-PA-Site/manage.py makemigrations --noinput"
    leader_only: true
  03_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 src/Clean-Energy-PA-Site/manage.py migrate --noinput"
    leader_only: true