arrow==1.2.3
asgiref==3.7.2
awsebcli==3.20.6
botocore==1.29.99
cement==2.8.2
certifi==2023.5.7
charset-normalizer==2.0.12
cmake==3.26.3
colorama==0.4.3
crispy-bootstrap5==0.7
Django==4.2.1
django-crispy-forms==2.0
django-environ==0.10.0
idna==3.4
Jinja2==3.1.2
jinja2-time==0.2.0
jmespath==1.0.1
make==0.1.6.post2
MarkupSafe==2.1.2
pathspec==0.10.1
psycopg2-binary==2.9.6
